*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #1F2937;
    box-sizing: border-box;
}

.heading{
    background-color: #1F2937;
    margin: 11.5rem 14.5rem auto 20rem;
    width: 45rem;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: "Karla";
    font-weight: 800;
    line-height: 4rem;
}

h1 .heading__color {
    color: #4ADF86;
}

.heading__sentence-one, .heading__sentence-two {
    color: #D5D4D8;
    font-size: 2rem;
    font-family: "Inter";
    font-weight: 300;
    margin-top: .5rem;
}

.heading__sentence-two {
    display: inline-block;
}

.btn {
    background-color: rgb(16, 185, 129);
    color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: .3rem .3rem .1rem rgb(39, 163, 124);
    border-radius: .6rem;
    border: none;
    font-family: 'Inter';
    font-size: 1.6rem;
    line-height: 2.4rem;

   
}

.btn:active {
    transform: translate(.4rem, .4rem);
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2);
}


hr {
    color: #2F3E53;
    border: .1rem solid #2F3E53;
}

.heading__sentence-one, .password-button, hr {
    margin-bottom: 4rem;
}

.password-button {
    margin-top: 1rem;
    width: 21.5rem;
}

.password-container {
    display: flex;
    flex-wrap: wrap;
}


.password-container__one, 
.password-container__two {
    background-color: #273549;
    color: #55F991;
    margin-bottom: .5rem;
    width: 21.1rem;
    height: 3.9rem;
    border-radius: .6rem;
    text-align: center;
    font-size: 1.8rem;
    display: inline-block;
    padding-top: 1rem;
}

#password-length {
    margin-left: .5rem;
    width: 5rem;
    margin-right: 50%;

}

.password-container__button-one,
.password-container__button-two {
    margin-bottom: 1rem;
    padding: .5rem 2rem;
}