* {
    margin: 0;
}

html {
    font-size: 66%;
}

body {
    min-height: 100vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Heading */ 
#toggle-button {
    background: #4ADF86;
    font-size: 2rem;
    line-height: 1.5;
    width: 3rem;
    height: 3rem;
    padding: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    line-height: 4rem;
}

h1 > span {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    font-size: 2rem;
    font-family: "Inter";
    font-weight: 300;
}


/* Password generator */
.symbols, .numbers {
    color: #D5D4D8;
    font-size: 1.6rem;
    font-family: "Inter";
    font-weight: 200;
}

.numbers {
    margin-left: 2rem;
 }

 .checkbox {
    cursor: pointer;
    accent-color: #55F991;
 }

button {
    background-color: #10b981;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: .6rem;
    border: none;
    width: 50%;
    font-family: 'Inter';
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: inline-block;
    cursor: pointer;
    transition: background-color 1s;
}

button:hover {
    background-color: #11cd8e;
}

button:active {
    transform: translate(.4rem, .4rem);
    box-shadow: 0 .1rem .2rem #00000033;
}

hr {
    color: #2F3E53;
    border: .1rem solid #2F3E53;
}


/* Rendered passwords */
.passwords-container {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
}

.password-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #273549;
    color: #55F991;
    border-radius: .6rem;
    font-size: 1.9rem;
    min-width: 25rem;
    height: 3.9rem;
}

.password-container > span {
    cursor: pointer;
}

.password-two-copied,
.password-one-copied {
    color: #D5D4D8;
    overflow: hidden;  /* Hide the element content, while height = 0 */
    width: 0;
    opacity: 0;
}

.show-copied {
    width: auto; 
    opacity: 1;
    transition: width 0ms 100ms, opacity 600ms 0ms;
    color: white;
}


/* Light mode */
body,
.heading,
#toggle-button,
h1, 
p, label , .checkbox,
.password-container > span, 
button, .password-container {
    transition: background-color 1.5s, color 1.5s, box-shadow 1.5s;
}

body.light 
.heading, body.light {
    background: #d0ebff;
}

body.light #toggle-button {
    background: #4159D4;
    color: #ffffff;
}

body.light h1 {
    color: #1f2937;
}

body.light p {
    color: #1F2937;
}

body.light h1 > span {
    color: #4159D4;
}

body.light label{
    color: #1F2937;
}

body.light .checkbox{
    accent-color: #596bc7;
}

body.light button {
    background: #4159D4;
    box-shadow: .3rem .3rem .1rem #4b61d0;
}

body.light .password-container {
    background: #90ADC3;
}

body.light .password-container > span{
    color: #1F2937
}


/* Media Queries */
 @media only screen and (min-device-width: 320px) and (max-device-width: 430px) {
    html{
        font-size: 20px;
    }

    .root {
        align-items: center;
    }

    .checkbox {
        width: 1rem;
        height: 1rem;
    }

    hr {
        width: 100%;
    }

    .passwords-container {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .password-container {
        width: 60%;
    }
} 

