* {
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #1F2937;
    box-sizing: border-box;
}

.root {
    margin: auto;
    margin-top: 15%;
    width: 40rem;
    height: 80vh;
}

/* Heading */ 
.heading, .password-container{
    background-color: #1F2937;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: "Karla";
    font-weight: 800;
    line-height: 4rem;
}

h1 > span {
    color: #4ADF86;
}

hr {
    color: #2F3E53;
    border: .1rem solid #2F3E53;
}

.heading > p {
    color: #D5D4D8;
    font-size: 2rem;
    font-family: "Inter";
    font-weight: 300;
}

/* Need to work on spacing because refactoring the html/css showed me I have overcomplicated a lot of the code. Need to simplify my process */


/* Password generator */
input#password-length {
    background: #D5D4D8;
    padding:  0.4rem .4rem;
    border-radius: 0.5rem;
    width: 5rem;
    min-height: 2rem;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgb(16, 185, 129);
}

.toggle-label-numbers, .toggle-label-symbols {
    color: #D5D4D8;
    font-size: 1.6rem;
    font-family: "Inter";
    font-weight: 200;
}

.toggle-label-numbers {
    margin-left: 2rem;
 }

 .checkbox {
    accent-color: #55F991;
 }


button {
    background-color: #10b981;
    color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: .3rem .3rem .1rem #27a37c;
    border-radius: .6rem;
    border: none;
    font-family: 'Inter';
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: inline-block;
}

.btn:active {
    transform: translate(.4rem, .4rem);
    box-shadow: 0 .1rem .2rem #00000033;
}

.password-button-container {
    display: flex;
}

.hidden {
    color: #55F991;
    background: #ffffff4d;
    margin-left: 1rem;
    height: 5rem;
    width: 12rem;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    display: none;
}

.message-box {
    margin-top: 1rem;
}


.generate-password-button {
    width: 21.5rem;
    margin-top: 1rem;
}


/* Rendered passwords */
.password-container {
    display: flex;
    flex-wrap: wrap;
    width: 45rem
}

.password-container > div {
    background-color: #273549;
    color: #55F991;
    margin-bottom: .5rem;
    width: 21.1rem;
    height: 3.9rem;
    border-radius: .6rem;
    text-align: center;
    font-size: 1.8rem;
    display: inline-block;
    padding-top: 1rem;
}

.copied-box {
    height: 3rem;
    width: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
}